@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------
header
	box-shadow: 0px 9px 15px rgba(52, 41, 13, 0.1)

		
.content
	min-height: calc(100vh - 144px)

.justify-align
	display: flex
	justify-content: space-between
	align-items: center

.left-align
	display: flex


.right-align
	display: flex
	justify-content: flex-end

.center-align
	display: flex
	justify-content: center
	align-items: center

.flex
	display: flex
	flex-wrap: wrap

.header
	&-top
		background: $green

		&__menu
			position: relative
			display: flex
			left: -30px
			list-style: none

			>li

				&.drop
					position: relative
						
					.icon
						position: absolute
						right: 12px
						top: 15px
						font-size: 9px
						color: #fff

					ul
						display: none
						min-width: 160px
						list-style: none
						position: absolute
						top: 100%
						background: #FFF
						border: 1px solid #ccc
						border-top: 0
						z-index: 10

						li
							a
								display: block
								padding: 8px 15px
								font-size: 12px
								border-bottom: 1px solid #ccc

							&:last-child
								a
									border-bottom: 0
				>a
					display: block
					padding: 7px 30px
					color: #fff

					&:hover, &.active
						background: $orange
						opacity: 1

	&-social
		list-style: none
		display: flex
		li
			margin-right: 15px

			&:last-child
				margin-right: 0
			a
				display: flex
				align-items: center
				justify-content: center
				width: 44px
				height: 44px
				border: 2px solid #898989
				border-radius: 50%
				font-size: 22px
				color: #898989

	&-phone
		position: relative
		display: inline-block
		padding-left: 30px
		font-size: 24px
		font-weight: bold

		&::before
			content: ''
			position: absolute
			left: 0
			top: 9px
			width: 17px
			height: 15px
			background: url(../img/phone-ic.svg)

.poorvision
	display: inline-block
	padding: 0 0 0 30px
	position: relative
	color: #fff

	&:hover, &:focus
		color: #fff

	&::before
		content: '\e90c'
		position: absolute
		left: 0
		top: 1px
		font-size: 20px
		color: #fff
		font-family: 'icomoon'


.header-middle
	padding: 13px 0
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
	&__wrap

	&__left
		min-width: 250px		
	&__rigth

		min-width: 250px

.header-bottom


.main-menu
	position: relative
	display: flex
	left: -30px
	list-style: none

	>li

		&.drop
			position: relative
			ul
				display: none
				min-width: 160px
				list-style: none
				position: absolute
				top: 100%
				background: #FFF
				border: 1px solid #ccc
				border-top: 0
				z-index: 999

				li
					a
						display: block
						padding: 8px 15px
						font-size: 12px
						border-bottom: 1px solid #ccc

					&:last-child
						a
							border-bottom: 0

			.icon
				position: absolute
				right: 13px
				top: 26px
				font-size: 9px
				transition: all .3s

			&:hover, &:focus
				.icon
					color: #fff

		&:last-child
			margin-right: 0
				

		>a
			display: block
			padding: 16px 35px 17px
			font-size: 18px


			&:hover, &:focus, &.active
				background: $orange
				opacity: 1
				color: #fff
		



.btn
	display: inline-block
	padding: 9px 36px 11px
	font-size: 18px
	font-weight: bold
	color: #fff
	background: $orange
	border-radius: 40px
	outline: none
	border: none
	text-align: center

	&:focus, &:hover
		opacity: 1
		color: #fff
		background: $orange
		outline: none

	&-transparent
		padding: 16px 30px
		border: 2px solid $orange
		color: $orange
		background: transparent

	&-green
		padding: 13px 36px 14px
		background: $green
		color: #fff

		>span
			display: inline-block
			padding-right: 12px 
			vertical-align: middle
		>.icon
			position: relative
			top: 2px
			display: inline-block
			vertical-align: middle
			font-size: 12px

		&:hover, &:focus



	&-green__transparent
		padding: 12px 36px 13px
		background-color: transparent
		border: 2px solid $green
		color: $green

		&:hover, &:focus
			background: $green
			color: #fff

	&-grey__transparent
		padding: 13px 36px 12px
		background-color: transparent
		border: 2px solid rgba(0, 0, 0, 0.2)
		color: #898989
		font-size: 14px
		line-height: 16px
		font-weight: normal

		&:hover, &:focus
			background: #898989
			color: #fff

.banner
	margin-bottom: 50px

	&-item
		position: relative
		&__overlay
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			display: flex
			align-items: center

			.container > *
				margin-left: 90px
		
	&-title
		position: relative
		margin-bottom: 63px
		padding-left: 25px
		font-weight: 500
		font-size: 42px
		line-height: 49px
		color: #626159

		&::before
			content: ''
			display: block
			position: absolute
			left: 0
			top: 11px
			bottom: 8px
			width: 5px
			background: #DCA41E
			border-radius: 5px


	.slick-dots
		max-width: 1130px
		padding-left: 100px
		margin: 0 auto
		text-align: left
		left: 0
		right: 0
		bottom: 0
		li
			width: auto
			button
				padding: 0
				width: 60px
				height: 3px
				background: rgba(137, 137, 137, 0.5)
				border-radius: 5px

				&::before
					display: none

	.slick-dots li.slick-active button 
		background: rgba(17, 0, 0, 0.5)

.slick-slide
	outline: none

.services
	padding: 65px 0 35px 0
	background: url(../img/bg-mainservices.jpg) 50% 0 no-repeat
	background-size: cover

	&-wrap

		>[class^="col"]
			&:nth-child(even)
				.services-item
					border-color: $green

					.icon
						color: $green
					&:hover
						border-color: $orange

						.icon
							color: #fff

	&-item
		display: flex
		margin-bottom: 30px
		align-items: center
		height: 175px
		padding: 0 15px 0 30px
		background: #FFF
		border-radius: 5px
		border-left: 6px solid $orange
		transition: all 0.2s ease

		&__icon
			width: 100px
			height: 70px
			display: flex
			align-items: center

			.icon
				font-size: 60px
				color: $orange

		&__text
			max-width: 200px
			font-size: 18px
			line-height: 21px
			font-weight: bold

		&:hover
			background: $green
			transform: scale(1.1)
			opacity: 1

			.icon
				color: #fff

			.services-item__text
				color: #fff

.section
	padding: 65px 0 65px

	
	&.team, &.medcenter, &.price, &.schedule
		h2
			position: relative
			margin-bottom: 10px
			text-align: center

			&::before
				content: ''
				display: block
				position: absolute
				top: 50%
				left: 0
				width: 100%
				height: 1px
				background: #000
				opacity: 0.2


			>span
				position: relative
				padding: 0 60px
				background: #fff
				z-index: 10

		h5
			text-align: center

.team

	&-slider
		margin-top: 60px

	&-item
		text-align: center

		&__img
			margin: 0 auto 20px
			width: 283px
			height: 283px
			border-radius: 50%
			overflow: hidden


		&__name
			margin-bottom: 5px
			font-size: 20px
			line-height: 23px
			font-weight: bold

		&__post
			font-size: 18px
			line-height: 21px
			font-weight: bold
			color: #898989

.slider
	padding: 0 60px

	.slick-arrow 
		position: absolute
		display: block
		top: 40%
		width: 48px
		height: 48px
		font-size: 0
		background: #6D7831
		border-radius: 50%
		z-index: 20

		&.slick-prev, &.slick-next
			&:before
				content: '\e902'
				display: inline-block
				font-size: 14px
				color: #fff
				font-family: 'icomoon'

		&.slick-next
			&:before
				content: '\e901'

.medcenter
	overflow: hidden
	&-wrap
		margin-top: 95px
		display: flex
		flex-wrap: wrap

		[class^="col"]
			transition: all .3s
			&:first-child
				position: relative

				&::before
					content: ''
					display: block
					position: absolute
					bottom: 0
					left: 0
					top: 0
					width: 20000px
					margin-left: -10000px
					background: #6D7831
					z-index: -1


			&:nth-child(1),&:nth-child(2), &:nth-child(3)
				.medcenter-item
					*
						color: #fff

				&:hover
					background: #fff

					.medcenter-item
						&__number
							color: #E8E8E8
						&__title
							color: #626159
						&__text
							color: #626159
					.medcenter-item__hover
						opacity: 1
						z-index: 10

			&:nth-child(4),&:nth-child(5), &:nth-child(6)

				&:hover
					background: $green

					.medcenter-item
						&__number
							color: #E8E8E8
						&__title
							color: #fff
						&__text
							color: #fff
					.medcenter-item__hover
						top: auto
						bottom: 100%
						opacity: 1
						z-index: 10
	&-item
		
		display: flex
		flex-direction: column
		padding: 30px 0

		&:hover
			opacity: 1

		&__number
			margin-bottom: 25px
			font-size: 50px
			font-weight: bold
			color: #E8E8E8

		&__title
			max-width: 310px
			margin-bottom: 40px
			font-size: 24px
			line-height: 28px
			font-weight: bold

		&__text
			max-width: 310px
			font-size: 18px
			line-height: 21px

		&__hover
			position: absolute
			left: 0
			right: 0
			top: 100%
			padding: 24px
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
			background: #fff
			z-index: -1
			opacity: 0
			// transition: all .3s

			img
				display: block

.consultation
	padding: 45px 0 95px
	background: url(../img/bg-consultation.jpg) no-repeat
	background-size: cover

	&-form
		position: relative
		padding: 70px 130px 105px 100px
		background: #fff
		border-top: 15px solid $orange
		border-bottom: 15px solid #ECECEC
		border-radius: 20px

		&__subtitle
			margin-bottom: 25px
			font-size: 20px
			font-weight: bold

		&__title
			margin-bottom: 37px
			font-size: 32px
			line-height: 37px
			font-weight: bold

		&__row
			display: flex
			align-items: flex-end
			justify-content: space-between

		.form-field
			width: calc(50% - 150px)	

.form

	&-field
		width: 100%
		padding: 0 20px 0px
		height: 50px
		font-size: 16px
		border: none
		border-bottom: 1px solid rgba(0, 0, 0, 0.2)
		outline: none
		background: #fff

	&-agreement
		margin-top: 15px
		input[type="checkbox"]
			display: none
			&+label
				position: relative
				display: inline-block
				font-size: 12px
				line-height: 14px
				padding-left: 27px
				color: #626159
				cursor: pointer

				&::before
					content: ''
					display: block
					position: absolute
					top: 0
					left: 0
					width: 15px
					height: 15px
					border: 1px solid #626159
					border-radius: 50%
					z-index: 1

				>a
					font-size: 12px
					line-height: 14px
					color: #626159
					text-decoration: underline


			&:checked
				&+label
					&::before
						content: '\f00c'
						font-family: "FontAwesome"
						font-size: 12px




.footer
	padding: 60px 0 0
	background: #3E4145

	&-content
		display: flex
		margin-bottom: 20px
		font-size: 20px
		line-height: 22px
		color: #fff

	&-contacts
		padding-right: 35px
		flex: 0 0 470px

	&-title
		margin-bottom: 20px
		font-size: 20px
		line-height: 22px
		font-weight: bold
		color: #fff

	&-address
		margin-bottom: 20px
		font-size: 16px
		line-height: 20px
		letter-spacing: 0.02em
		color: #fff

	&-phone
		margin-bottom: 20px
		line-height: 18px
		font-size: 16px
		line-height: 20px
		letter-spacing: 0.02em
		color: #fff

	&-mail
		color: #fff
		font-size: 16px

	&-menu
		display: flex
		list-style: none
		flex-wrap: wrap
		max-width: 600px

		li
			width: 33%
			margin-bottom: 27px

			>a
				font-size: 16px
				line-height: 18px
				color: #fff

				&.border
					position: relative

					&::after
						content: ''
						position: absolute
						left: 0
						bottom: -12px
						height: 4px
						width: 63px
						background: #dca41e

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px 0
		color: #fff
		border-top: 1px solid #8B8D8F

	&-warning 
		font-size: 24px
		line-height: 28px
		text-align: center
		letter-spacing: 0.07em
		color: rgba(255, 255, 255, 0.2)
		text-align: center

	&-social
		display: flex
		align-items: center
		list-style: none
		li
			margin-left: 15px
			max-width: 24px


	&-up
		display: flex
		align-items: center
		justify-content: center
		width: 36px
		height: 36px
		border-radius: 50%
		font-size: 18px
		border: 1px solid #fff
		color: #fff





.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: $orange
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)
















.inner
	padding: 50px 0
	h1
		margin-bottom: 30px
		font-size: 26px
		line-height: 30px

.accordeon

	&-item
		margin-bottom: 10px

		&__title
			position: relative
			padding: 20px 70px 20px 55px
			font-size: 18px
			line-height: 21px
			text-transform: uppercase
			color: #DCA41E
			border: 2px solid rgba(0, 0, 0, 0.2)
			cursor: pointer

			>span
				padding-right: 136px

			&::before
				content: ''
				display: block
				position: absolute
				top: -1px
				bottom: -1px
				left: -1px
				width: 4px
				background: #DCA41E

			&::after
				content: '\e900'
				display: block
				position: absolute
				top: 42%
				font-family: "icomoon"
				color: #626159
				font-size: 16px
				margin-top: -4px
				right: 40px
				width: 16px
				height: 8px
				transition: all 0.3s ease

		&:nth-child(even)
			.accordeon-item__title
				&::before
					background: $green

		&.active
			.accordeon-item__title
				border-color: $orange

				&::before
					background-color: transparent

				&::after
					margin-top: 0
					transform: rotate(180deg)

		&__content
			display: none

	&-list
		list-style: none

		li
			a
				position: relative
				display: block
				padding: 18px 80px 18px 95px
				font-size: 16px
				line-height: 19px
				color: #626159

				&::before
					content: ''
					display: block
					position: absolute
					top: 50%
					margin-top: -4px
					left: 65px
					width: 8px
					height: 8px
					background: #DCA41E
					border-radius: 50%

.breadcrumbs
	margin: 0 0 35px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px

		+ li::before
			content: "/"
			padding: 0 8px 0 3px
			font-size: 14px
			line-height: 16px

		a
			position: relative


.contacts



	&-left
		h1
			margin-bottom: 30px
		h3
			margin-bottom: 42px

	&-list
		list-style: none

		li
			display: flex
			align-items: center

		&__icon
			width: 90px

		&__text

			padding: 20px 0
			border-bottom: 1px solid rgba(0, 0, 0, 0.2)
			width: calc(100% - 90px)
			line-height: 19px

	&-form
		padding: 45px 60px 35px 60px
		border: 1px solid rgba(0, 0, 0, 0.2)
		border-top: 6px solid #6D7831


		h3
			margin-bottom: 18px

		p
			margin-bottom: 10px
			font-size: 14px

		&__row
			margin-bottom: 35px
			.form-field
				font-size: 14px

		textarea
			padding: 17px 30px
			font-size: 14px
			height: 170px
			border: 1px solid rgba(0, 0, 0, 0.2)

		.form-agreement
			margin-bottom: 18px

		.btn
			font-size: 16px

	&-requisites
		margin-top: 55px
		padding: 35px 0 0
		border-top: 4px solid $orange

		h3
			padding-left: 60px
			margin-bottom: 25px

		[class^="col"]
			padding: 0 60px

		&__item
			padding: 9px 0
			font-size: 16px
			line-height: 19px
			color: #626159
			border-bottom: 1px solid rgba(0, 0, 0, 0.2)




#googleMap
	height: 545px
	width: 100%


.inner-content

	.accordeon-item__content
		padding: 21px 0 0

		p
			margin-bottom: 20px

.doctors
	padding: 20px 0 0
	&-item
		display: flex
		margin-bottom: 10px

		&__img
			width: 250px

		&__info
			width: calc(100% - 250px)
			padding: 30px 0
			border-top: 1px solid rgba(0, 0, 0, 0.2)

			h3
				margin-bottom: 10px

			h6
				margin-bottom: 20px
				color: #898989

		&:last-child
			margin-bottom: 20px
			.doctors-item__info
				border-bottom: 1px solid rgba(0, 0, 0, 0.2)

		&__experience
			display: inline-block
			padding: 12px 10px 13px
			color: #898989
			border: 1px solid rgba(0, 0, 0, 0.2)




.sidebar
	padding: 0 0 0 50px
	h3
		margin-bottom: 23px
		font-size: 22px
		line-height: 26px

	&-menu
		list-style: none

		li
			margin-bottom: 14px

			a
				position: relative
				display: block
				padding: 0 0 0 38px
				

				span
					display: inline-block
					border-bottom: 1px solid transparent
					transition: all .3s

				&::before
					content: '\e901'
					position: absolute
					left: 0
					top: 2px
					width: 20px
					height: 20px
					display: flex
					align-items: center
					justify-content: center
					font-family: "icomoon"
					border: 1px solid $green
					color: $green
					font-size: 10px
					border-radius: 50%
					transition: all .3s

				&:hover, &.active

					
					opacity: 1

					span
						border-color: $green
					&::before
						background: $green
						color: #fff

		
article
	p
		margin: 0 0 20px
		font-size: 18px
		line-height: 21px

		>a
			text-decoration: underline



.price-bottom
	position: relative
	align-items: flex-end
	padding: 35px 0 0

	&__btn
		display: flex
		flex-direction: column
		a
			position: relative
			display: inline-block
			padding: 0 0 0 44px
			margin-bottom: 13px
			font-size: 14px

			&:last-child
				margin-bottom: 0

	.btn
		min-width: 250px

	>span
		font-size: 14px
		line-height: 16px

.print-btn

	&::before
		content: ''
		width: 21px
		height: 21px
		position: absolute
		left: 0
		top: 0
		background: url(../img/printer.svg)


.download-btn
	
	&::before
		content: ''
		width: 24px
		height: 24px
		position: absolute
		left: 0
		top: 0
		background: url(../img/download.svg)

.price
	padding-bottom: 0

	&-table

		width: 100%
		border-collapse: collapse
		border: 1px solid rgba(0, 0, 0, 0.2)
		border-top: 0

		tr
			&:nth-child(odd)
				background: #F8F8F8
			td
				padding:  18px 30px
				color: #898989
				line-height: 19px
				vertical-align: middle

				&:first-child
					padding-left: 60px

				&:last-child
					padding-right: 60px

		&.study-table
			tr
				&:nth-child(odd)
					background: #fff
				&:nth-child(even)
					background: #F8F8F8

.section.price
	h2
		margin-bottom: 35px

	&+
		.btn
			display: block
			width: 250px
			margin: 44px auto 0

.ruble
	font-family: "robotoRuble"




.services-articles

	article
		margin-bottom: 50px
	
		h2
			margin-bottom: 30px
			font-size: 26px
			line-height: 30px

		h5
			padding: 0 0 0 40px
			margin-bottom: 20px
			font-weight: bold

		ul
			padding: 0 0 0 40px
			margin-bottom: 20px
			list-style: none
			

			li
				position: relative
				padding: 0 0 0 12px
				font-size: 18px
				line-height: 21px

				&::before
					content: ''
					position: absolute
					left: 0
					top: 9px
					width: 4px
					height: 4px
					background: #626159
					border-radius: 50%

.doctors-slider__wrap

	>.justify-align
		margin-bottom: 45px

		h2
			font-size: 26px
			line-height: 30px

	>.btn
		max-width: 262px
		display: block
		margin: 0 auto 60px

.doctors-slider
	margin-bottom: 30px
	margin-left: -10px
	margin-right: -10px

	&__btn
		position: relative
		top: 2px
		display: flex

		button
			display: flex
			align-items: center
			justify-content: center
			border: none
			outline: none
			background-color: transparent
			width: 31px
			height: 31px
			border-radius: 50%
			background: $green

			.icon
				color: #fff
				font-size: 12px

			&:last-child
				margin-left: 11px


	&__item
		margin-left: 10px
		margin-right: 10px

	&__img
		width: 210px
		height: 210px
		border-radius: 50%
		overflow: hidden
		margin: 0 auto 30px

		img
			margin: 0 auto

	&__name
		margin-bottom: 18px
		font-size: 18px
		line-height: 21px
		font-weight: bold
		text-align: center

	&__post
		color: #898989
		font-size: 16px
		text-align: center


.price-item
	margin-bottom: 30px
	border: 1px solid rgba(0, 0, 0, 0.2)

	h2
		padding: 20px 0 20px 60px
		font-size: 22px
		line-height: 26px

	.price-table
		border: none
		tr
			td
				padding-left: 16px
				padding-right: 16px

	&+.btn
		display: block
		max-width: 220px
		margin: 0 auto


.feature-articles
	margin: 45px 0 0

	h2
		margin-bottom: 27px
		font-size: 26px
		line-height: 30px

	&__item
		position: relative
		display: block
		padding: 16px 64px
		margin-bottom: 10px
		border: 1px solid rgba(0, 0, 0, 0.1)
		
		>span
			font-size: 16px
			color: #898989

		&::after
			content: '\e901'
			font-family: "icomoon"
			font-size: 16px
			color: #898989
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 62px
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			border-left: 1px solid rgba(0, 0, 0, 0.1)
			transition: all .3s

		&:hover
			opacity: 1

			&::after
				background: $orange
				color: #fff
			

.article
	max-width: 786px
	margin: 0 auto

	&-back
		position: relative
		display: inline-block
		padding: 0 0 0 22px
		margin-bottom: 18px

		&::before
			content: '\e902'
			font-size: 14px
			position: absolute
			left: 0
			top: 5px
			font-family: "icomoon"

	h1
		position: relative
		padding: 0 0 35px
		margin: 0 0 35px
		font-size: 36px
		line-height: 42px

		&::after
			content: ''
			position: absolute
			left: 0
			bottom: 0
			height: 4px
			width: 63px
			background: $orange

	h6
		font-weight: bold
		margin-bottom: 20px

	p
		font-size: 16px
		line-height: 19px

	&-item
		position: relative
		padding-bottom: 20px
		margin-bottom: 40px

		&::after
			content: ''
			position: absolute
			left: 0
			bottom: 0
			height: 4px
			width: 63px
			background: $orange

		&.no-border
			padding-bottom: 0

			&::after
				display: none


		h2
			margin-bottom: 30px
			font-size: 22px
			line-height: 26px

		ul
			margin-bottom: 25px
			list-style: none

			li
				position: relative
				padding: 0 0 0 40px
				margin-bottom: 6px
				font-size: 16px
				line-height: 19px

				&::before
					content: ''
					position: absolute
					left: 0
					top: 7px
					width: 8px
					height: 8px
					background: $orange
					border-radius: 50%

		>img, .row>[class^="col"] > img
			margin-bottom: 20px
		
		&__video
			margin-bottom: 20px

	>h2
		margin-bottom: 30px
		font-size: 22px
		line-height: 26px

	>ol, >ul
		padding: 0 0 0 20px
		margin-bottom: 20px

		li
			padding: 0 0 0 5px
			font-size: 16px
			line-height: 19px
			margin-bottom: 10px
		






		

.blockquote-grey
	padding: 40px 95px
	margin: 40px 0 60px
	border: 1px solid rgba(0, 0, 0, 0.2)

.imgLeft
	margin: 0 40px 20px 0
	float: left


.imgRight
	margin: 0 0 20px 40px
	float: right

.imgCenter
	display: block
	margin: 20px auto 

.blockquote-yellow
	margin: 30px 0 40px
	padding: 25px 80px 
	border-top: 4px solid $orange
	border-bottom: 4px solid $orange

	&__text
		position: relative
		padding: 0 55px

		p
			margin-bottom: 10px
			font-size: 16px
			line-height: 19px
			font-style: italic

		&::before
			content: '“'
			position: absolute
			left: 0
			top: -12PX
			font-size: 60px
			line-height: 70px
			font-weight: bold

		&::after
			content: '“'
			position: absolute
			right: 0
			bottom: -15px
			font-size: 60px
			line-height: 70px
			font-weight: bold
			transform: rotate(180deg)

	&__author
		display: block
		text-align: right
		font-size: 16px
		line-height: 19px


.article-bottom
	padding: 20px 0 0
	.poorvision
		padding: 0 0 0 50px
		color: rgba(98, 97, 89, 0.7)
		font-size: 14px

		&::before
			top: -5px
			width: 33px
			height: 33px
			display: flex
			align-items: center
			justify-content: center
			font-size: 18px
			color: rgba(98, 97, 89, 0.7)
			border-radius: 50%
			border: 1px solid rgba(0, 0, 0, 0.2)

.soc-list
	list-style: none

	li
		display: inline-block
		margin-left: 12px

		a
			display: flex
			align-items: center
			justify-content: center
			width: 37px
			height: 37px
			border: 1px solid rgba(0, 0, 0, 0.2)
			color: rgba(0, 0, 0, 0.2)
			font-size: 18px
			border-radius: 50%

			&:hover, &:focus
				border-color: $orange
				background: $orange
				color: #fff


.article-arrows
	position: relative
	margin: 50px 0 50px
	padding: 20px 0 27px
	border-top: 1px solid #E5E5EB
	border-bottom: 1px solid #E5E5EB

	&::before
		content: ''
		position: absolute
		left: 50%
		height: 75%
		margin: auto
		width: 1px
		top: 0
		bottom: 0
		background: #E5E5EB


	>.justify-align
		align-items: flex-start

.article-arrows__btn
	position: relative
	top: 4px
	display: flex
	align-items: center
	justify-content: center
	width: 38px
	height: 38px
	border-radius: 50%
	border: 1px solid rgba(0, 0, 0, 0.2)

	.icon
		font-size: 12px
		vertical-align: middle
		

.article-arrows__text
	padding: 0 0 0 25px
	max-width: 300px

.article-arrows__right
	.article-arrows__text
		padding: 0 25px 0 0 
		text-align: right

.article-arrows__text
	a
		display: block
		font-size: 14px
		color: rgba(98, 97, 89, 0.7)

		&.article-arrows__links
			margin-bottom: 3px
			

		&.article-arrows__popular
			font-weight: bold


.inner-wrap
	&+.article
		max-width: none

.doctor-top
	margin-bottom: 45px

	&__img
		img
			max-width: 188px
			border-radius: 50%

	&__info
		padding: 20px 0 0

		h2
			position: relative
			padding: 0 0 15px
			margin: 0 0 22px
			font-size: 26px
			line-height: 30px

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				height: 4px
				width: 57px
				background: $orange

		.doctors-item__experience
			font-size: 14px

		h6
			margin-bottom: 20px
			color: #898989


.doctor-list
	margin-bottom: 50px

	ul
		margin-bottom: 20px
		list-style: none

		li
			position: relative
			padding: 0 0 0 20px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 10px
				width: 4px
				height: 4px
				background: #626159
				border-radius: 50%

	&__hidden
		display: none

	&__more
		position: relative
		display: inline-block
		padding: 0 20px 0 18px
		font-size: 16px
		line-height: 19px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			bottom: 0
			width: 4px
			height: 100%
			background: $orange

		&::after
			content: '\e900'
			position: absolute
			right: 0
			top: 2px
			font-size: 10px
			font-family: "icomoon"

		&.active
			&::after
				transform: rotate(180deg)


.certificate-slider
	margin: 55px 0 0

	&__item
		position: relative
		margin-right: 9px
		margin-left: 9px
		

		&--img
			position: relative
			display: flex
			align-items: center
			justify-content: center
			background: #F7F6F6

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				border: 4px solid $green
				opacity: 0
				transition: all .3s
			
			&:hover
				opacity: 1
				&::before
					opacity: 1

		&:hover	
			.zoom-btn
				opacity: 1


	.slick-arrow
		top: 49%



.zoom-btn
	position: absolute
	right: 0
	top: 0
	width: 39px
	height: 39px
	display: flex
	align-items: center
	justify-content: center
	background: $green
	z-index: 10
	opacity: 0

.zoom-icon
	display: inline-block
	width: 22px
	height: 22px
	background: url(../img/zoom-icon.svg)



.schedule
	padding-bottom: 0


	&-table
		margin: 40px 0 55px
		width: 100%
		border-collapse: collapse

		tr
			
			td
				padding: 15px
				border: 1px solid rgba(0, 0, 0, 0.2)
				text-align: center
				vertical-align: middle
				font-size: 14px
				line-height: 16px

		thead

			tr

				td
					border-top: 4px solid $orange


		tbody

			tr

				td
					&.schedule-table__doctor
						min-width: 320px

						span
							display: inline-block
							padding-left: 22px
							vertical-align: middle
							font-size: 16px
							font-weight: bold
							line-height: 19px


						img
							display: inline-block
							vertical-align: middle


					&:first-child
						text-align: left

.schedule-top
	margin: 0 0 50px

	&__right
		display: flex
		align-items: center

		>strong
			padding-right: 20px
			font-size: 18px
			line-height: 21px

.schedule-tel
	position: relative
	padding: 0 0 0 62px

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 46px
		height: 46px
		border: 1px solid $green
		border-radius: 50%
		background: url(../img/call-ic.svg) no-repeat center

	a
		display: block
		font-size: 18px
		line-height: 21px

.accordeon-item__content
	.schedule-table
		margin: 0 0 30px
		thead tr td
			border-top: 0
			padding: 10px
			background: #F8F8F8



.accordeon
	&+.center-align
		.btn
			margin: 50px 0 0
			min-width: 250px










































@media only screen and (max-width: 1199px)

	.header-top__menu
		>li
			&.drop
				.icon
					top: 14px
			>a
				font-size: 14px

	.header-phone
		font-size: 22px

	.main-menu

		>li
			>a 
				padding: 16px 30px 17px
				font-size: 16px


	.slick-dots li
		height: auto

	.team-item
		margin-left: 10px
		margin-right: 10px

	.team-item__img
		width: auto
		height: auto

		img
			margin: 0 auto


	.footer-contacts
		padding-right: 30px
		flex: 0 0 328px

	.footer-menu
		max-width: 600px

	
	.certificate-slider .slick-next
		right: 0
	.certificate-slider .slick-prev
		left: 0

















@media only screen and (max-width: 991px)
	.header-middle__left 
		min-width: 170px

	a.logo 
		max-width: 250px

	.header-phone 
		font-size: 20px

		&::before
			top: 7px

	.main-menu

		>li
			&.drop
				.icon
					top: 23px
					right: 2px
			>a 
				padding: 16px 18px 17px
				font-size: 14px

	.header-bottom
		.btn
			display: inline-block
			padding: 9px 30px 11px
			font-size: 15px

	.banner-item__overlay .container>* 
		margin-left: 0

	.banner-title 
		margin-bottom: 30px
		padding-left: 25px
		font-size: 30px
		line-height: 33px

	.btn-transparent
		padding: 10px 30px

	.slick-prev
		left: 0
	.slick-next
		right: 0

	.banner-item
		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: rgba(256,256,256,0.2)
			z-index: 1


	.banner-item__overlay
		z-index: 10

	.medcenter
		&-wrap
			background: $green

		&-item
			*
				color: #fff

	.consultation-form__row
		display: block

	.consultation-form 
		border-width: 10px
		padding: 30px 50px 30px 50px
		border-radius: 10px

		.form-field
			width: 100%
			margin-bottom: 20px


	.footer-content
		display: block

	.footer-contacts
		flex: auto
		padding: 0
		text-align: center

	footer.footer 
		padding: 30px 0 10px

	.footer-warning
		font-size: 16px
		line-height: 20px

	.footer-menu 
		max-width: none
		text-align: center

	.footer-up
		margin: 0 auto

	.contacts-left
		margin-bottom: 50px

	.price-table tr td:first-child
		padding-left: 15px

	.price-table tr td:last-child
		padding-right: 15px

	.price-table tr td
		padding: 15px 15px
		font-size: 14px


	.accordeon-item__title>span 
		padding-right: 30px


	.accordeon-item__title
		position: relative
		padding: 20px 60px 20px 30px

	.sidebar
		padding: 30px 0 0

	.inner + .consultation
		padding-top: 0

	.schedule-table tr td
		padding: 15px 10px
		font-size: 12px

	.schedule-table tbody tr td.schedule-table__doctor span
		padding-left: 15px 
		font-size: 12px
		line-height: 17px

	.schedule-table tr td
		padding: 15px 10px
		font-size: 12px
		line-height: 17px

	.schedule-table tbody tr td.schedule-table__doctor
		min-width: 280px

	.footer-menu li>a.border::after
		left: 0
		margin: 0 auto
		right: 0
		bottom: -5px
		height: 2px






































@media only screen and (max-width: 768px)
	.poorvision
		display: none

	.header-top
		.justify-align
			justify-content: center

	.header-bottom
		position: relative
		padding: 10px 0
		border-bottom: 1px solid rgba(0,0,0,.1)

	.main-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: calc(100% + 1px)
		background: #fff
		z-index: 999

		li
			display: block

			&.drop
				.icon
					width: 20px
					height: 20px
					font-size: 15px
					right: 15px
					z-index: 10

					&:hover, &:focus
						color: #000

				ul
					position: static

			a
				border-bottom: 1px solid $orange
				font-size: 16px
		



	.burger-menu

		display: inline-block

	.header-top__menu
		left: auto

	.header-top__menu>li>a 
		padding: 7px 26px

	.header-social
		display: none

	.header-middle__left
		min-width: auto
		display: none

	a.logo
		max-width: 180px

	.header-phone
		padding-left: 25px

	.banner-item__overlay
		.container
			width: 100%

	.banner-title
		margin-bottom: 20px
		padding-left: 25px
		font-size: 18px
		line-height: 22px

	.btn-transparent 
		padding: 5px 20px
		font-size: 14px

	.banner .slick-dots
		padding-left: 15px
		bottom: -20px

	.banner .slick-dots li button
		width: 40px

	.services
		padding: 30px 0 0 0

	.services-item
		padding: 0 15px 0 15px
		flex-direction: column
		align-items: center
		justify-content: center

	.services-item__icon
		display: flex
		align-items: center
		justify-content: center
		.icon
			font-size: 50px


	.services-item__text
		font-size: 16px
		text-align: center
		line-height: 19px

	.section
		padding: 30px 0

	.section.medcenter h2>span, .section.team h2>span
		background-color: transparent
		padding: 0

	.section.medcenter h2::before, .section.team h2::before
		display: none

	.slider
		padding: 0 50px

	h2, h1
		font-size: 24px

	.medcenter-wrap
		margin-top: 30px

	.consultation-form
		border-width: 10px
		padding: 20px 30px 20px 30px

	.consultation-form__subtitle
		margin-bottom: 15px
		font-size: 18px

	.consultation-form__title
		margin-bottom: 25px
		font-size: 24px
		line-height: 28px

	.consultation
		padding: 30px 0 50px

	.footer-contacts
		margin-bottom: 10px

	.footer-menu
		margin-bottom: 10px
		li
			width: 50%
			margin-bottom: 5px

			a
				font-size: 14px
				line-height: 16px

	.footer-bottom
		display: block
		text-align: center

	.footer-copyright
		margin-bottom: 10px

	.footer-warning
		margin-bottom: 10px

	.footer-social
		justify-content: center

	.accordeon-item__title
		padding: 12px 50px 12px 30px
		font-size: 16px
		line-height: 19px

		&::after
			font-size: 14px
			right: 18px


	.accordeon-list li a
		position: relative
		display: block
		padding: 18px 0 10px 40px

		&::before
			left: 15px
			top: 59%


	.inner 
		padding: 30px 0

	.contacts-form
		padding: 20px 30px

	.contacts-requisites h3
		padding-left: 0

	.contacts-requisites [class^=col] 
		padding: 0

	.contacts-list__icon 
		width: 65px


	.price-bottom
		position: relative
		display: block
		padding-bottom: 60px
		text-align: center

		.btn-green
			position: absolute
			left: 0
			right: 0
			max-width: 250px
			margin: 0 auto
			bottom: 0

	.price-bottom__btn
		align-items: center
		margin-bottom: 20px


		

	.btn-green
		padding: 10px 30px 11px
		font-size: 16px

	.btn
		font-size: 16px


	article p 
		font-size: 16px
		line-height: 19px



	.section.medcenter h2>span, .section.price h2>span, .section.schedule h2>span, .section.team h2>span
		padding: 0

	.section.medcenter h2::before, .section.price h2::before, .section.schedule h2::before, .section.team h2::before
		display: none

	.price-table tr td 
		padding: 15px 5px
		font-size: 12px
		line-height: 16px

	.price-table tr td:last-child
		min-width: 60px
		padding-right: 10px
		text-align: right


	.section.price+.btn
		margin: 0 auto 0

	.price-table tr td:first-child 
		padding-left: 10px

	.doctors-item__img
		width: 190px

	.services-articles article ul li
		font-size: 16px

	.doctors-slider__wrap>.justify-align h2
		font-size: 22px
		line-height: 26px	

	.price-item h2 
		padding: 20px 15px 20px
		font-size: 20px
		line-height: 24px
		text-align: center

	.feature-articles h2
		font-size: 22px
		line-height: 26px
		text-align: center

	.feature-articles__item
		padding: 15px 64px 15px 15px

	.feature-articles__item>span
		font-size: 14px


	.price-item .price-table tr td
		padding-left: 5px
		padding-right: 5px

	.article h1
		margin: 0 0 25px
		padding: 0 0 25px
		font-size: 24px
		line-height: 28px

	.blockquote-grey
		padding: 30px 30px
		margin: 30px 0 30px

	.blockquote-yellow
		margin: 30px 0 30px
		padding: 20px


	.article-arrows
		display: block

		&::before
			display: none
	.article-arrows__left
		margin-bottom: 20px

	.article-item .row>[class^=col]>img, .article-item>img
		display: block
		margin: 0 auto 20px


	.schedule-table__doctor
		width: auto
	
	.schedule-table tbody tr td.schedule-table__doctor
		width: auto
		min-width: auto

		img
			display: none

		span
			padding: 0

	.schedule-table tr td
		padding: 10px 5px

	.slider .slick-arrow
		width: 40px
		height: 40px

	.schedule-top
		flex-direction: column
		align-items: center

		.btn
			margin-bottom: 20px













































@media only screen and (max-width: 480px)
	.header-top__menu
		margin-left: -15px
		margin-right: -15px
		>li

			&.drop
				&:last-of-type
					ul
						left: auto
						right: 0
			>a 
				padding: 5px 15px
				font-size: 12px



	.header-top__menu>li.drop .icon
		right: 5px
		top: 11px
		font-size: 6px

	a.logo
		max-width: 160px

	.header-phone
		padding: 0
		font-size: 12px

		&::before
			display: none

	.banner-title 
		margin-bottom: 15px
		padding-left: 0
		font-size: 14px
		line-height: 18px

		&::before
			display: none

	.btn-transparent 
		padding: 5px 20px
		font-size: 12px

	.banner .slick-dots li button 
		width: 30px

	.services-item__text
		height: 70px
		font-size: 12px
		line-height: 16px

	.services-item__icon
		height: 60px
		margin-bottom: 10px
		align-items: flex-end
		.icon 
			font-size: 40px

	.medcenter
		padding-top: 0

	#googleMap
		height: 300px

	.contacts-left h3 
		margin-bottom: 30px

	.contacts-list__text
		font-size: 14px
		line-height: 16px

	.doctors-item
		display: block

		&__img
			width: auto
			margin-bottom: 20px
			text-align: center

		&__info
			width: auto
			text-align: center
			padding: 0 0 30px
			margin: 0 0 30px
			border: none
			border-bottom: 1px solid rgba(0,0,0,.2)

	.article h1
		br
			display: none

	.schedule-table tr td
		padding: 5px 2px
		font-size: 8px


	.schedule-table tbody tr td.schedule-table__doctor span
		font-size: 10px
		line-height: 12px

	.schedule-top__right
		flex-direction: column
		align-items: center

		strong
			margin-bottom: 10px

	.consultation-form
		border-width: 6px

		&__title
			text-align: center

		&__subtitle
			text-align: center

		&__row
			text-align: center

	.accordeon-item__title
		font-size: 14px
		line-height: 17px

	.inner 
		padding: 15px 0 30px

		h1
			margin-bottom: 20px
			font-size: 22px
			line-height: 26px

	.breadcrumbs
		margin: 0 0 15px

